/* - add fonts */

@font-face {
  font-family: Work Sans;
  src: url(../font/WorkSans-Regular.ttf);
}

@font-face {
  font-family: Fjalla One;
  src: url(../font/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: Didact Gothic;
  src: url(../font/DidactGothic-Regular.ttf);
}

/* - reset and center the page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html {
  /* - 1rem =~ 16px */
  font-size: 62.5%;
  /* - now 1rem = 10px */
}

.wrapper {
  margin: 0 auto;
}

/* - style header */

header {
  text-align: center;
}
header p:nth-of-type(1) {
  font-family: Work Sans;
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  font-weight: 400;
  margin-top: 2vh;
  margin-bottom: 7vh;
}
header h1 {
  font-family: Didact Gothic;
  font-size: clamp(0.5rem, 5vw, 10rem);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 7vh;
}
header img {
  width: 50%;
  height: 50%;
  margin-bottom: 10vh;
}
header h2 {
  font-family: Work Sans;
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(0.5rem, 9vw, 16rem);
  margin-bottom: 14.5vh;
}
/* - style all dark sections at once */

.dark-section {
  padding-bottom: 3vh;
}
.container-dark {
  min-height: 90vh;
  padding-top: 10%;
  margin-left: 15%;
  margin-right: 10%;
  position: relative;
}
.container-dark p {
  font-family: Work Sans;
  font-size: clamp(0.5rem, 2vw, 2rem);
  color: #9e9e9e;
  position: relative;
}
.container-dark p:nth-of-type(1) {
  margin-left: 2vw;
  margin-bottom: 5vh;
}
.container-dark p:nth-of-type(1):before {
  content: "";
  height: 0.1vh;
  width: 1vw;
  position: absolute;
  top: 50%;
  left: -2vw;
  background: #9e9e9e;
}
.container-dark h3 {
  font-family: Didact Gothic;
  font-size: clamp(1rem, 7vw, 11.2rem);
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5vh;
}
.container-dark p:nth-of-type(2) {
  margin-bottom: 10vh;
}

.container-dark a {
  font-family: Fjalla One;
  text-decoration: none;
  font-size: clamp(0.2rem, 2vw, 1.6rem);
  text-transform: uppercase;
  color: #9e9e9e;
  border: #9e9e9e solid 1px;
  padding: clamp(0.2rem, 1.5vw, 1.6rem) clamp(0.2rem, 2vw, 2.6rem);
  display: inline-block;
}
.container-dark h4 {
  font-family: Fjalla One;
  font-size: clamp(5rem, 15vw, 16.5rem);
  font-weight: 400;
  color: #9e9e9ea8;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.container-dark a:hover {
  background-color: #fff;
  color: #000;
}
.container-dark a:hover + h4 {
  color: #fff;
}

/* - style all white sections at once */

.light-section {
  padding-bottom: 3vh;
}
.container-light {
  min-height: 100vh;
  padding-top: 10%;
  margin-left: 15%;
  margin-right: 10%;
}
.container-light p {
  font-family: Work Sans;
  font-size: clamp(0.5rem, 2vw, 2rem);
  color: #666;
  position: relative;
}
.container-light p:nth-of-type(1) {
  margin-left: 2vw;
  margin-bottom: 5vh;
}
.container-light p:nth-of-type(1):before {
  content: "";
  height: 0.1vh;
  width: 1vw;
  position: absolute;
  top: 50%;
  left: -2vw;
  background: #666;
}
.container-light h3 {
  font-family: Didact Gothic;
  font-size: clamp(1rem, 7vw, 11.2rem);
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5vh;
}
.container-light p:nth-of-type(2) {
  margin-bottom: 10vh;
}
.container-light a {
  font-family: Fjalla One;
  text-decoration: none;
  font-size: clamp(0.2rem, 2vw, 1.6rem);
  text-transform: uppercase;
  color: #666;
  border: #666 solid 1px;
  padding: clamp(0.2rem, 1.5vw, 1.6rem) clamp(0.2rem, 2vw, 2.6rem);
  display: inline-block;
}
.container-light h4 {
  font-family: Fjalla One;
  font-size: clamp(5rem, 15vw, 16.5rem);
  font-weight: 400;
  color: #666;
  margin-left: 60vw;
  margin-right: 3vw;
}
.container-light a:hover {
  background-color: #000;
  color: #fff;
}
.container-light a:hover + h4 {
  color: #000;
}

/* - style ORBIS section */

.orbis {
  background: url(../img/hands.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* - style ROLLR section */

.rollr {
  background: url(../img/laptop.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

/* - style GALITO'S section */

.galitos {
  background: url(../img/meat.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* - style TRETTO section */

.tretto {
  background: url(../img/phones.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

/* - style What more? section */

.what-more-section {
  background-color: #000;
  min-height: 90vh;
}
.container-what-more {
  margin-top: 10%;
  margin-bottom: 10%;
}
.what-more-section h3 {
  text-align: center;
  font-size: clamp(2rem, 7vw, 18rem);
  font-weight: 400;
  color: #fff;
  font-family: Work Sans;
  margin-bottom: 25vh;
}
.container-what-more p {
  margin-left: 40vw;
  margin-right: 20vw;
  font-family: Work Sans;
  font-size: clamp(0.5rem, 2vw, 2.2rem);
  font-weight: 400;
  color: #666;
  margin-bottom: 5.5vh;
}
.container-what-more a {
  margin-left: 40vw;
  text-decoration: none;
  font-family: Work Sans;
  font-size: clamp(0.5rem, 2.5vw, 7rem);
  font-weight: 400;
  color: #fff;
}
.container-what-more a:hover {
  text-decoration: underline;
}

/* - style footer */

footer {
  min-height: 180vh;
  text-align: center;
  padding-top: 30vh;
}
footer li {
  margin-bottom: 20vh;
}
footer li a {
  font-family: Didact Gothic;
  color: #000;
  font-weight: 400;
  font-size: clamp(3rem, 10vw, 16rem);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 1vw;
  animation: beat 0.25s infinite alternate;
  display: inline-block;
}

/* * heartbeat animation */

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
